@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700);

*{
	margin: 0:
	padding:0;
}

body {
	background: url(images/cactus.jpg);
	background-size: cover;
	color: #FFBFE9;
	text-align: center;
	position: relative;
	font-family: Helvetica;
}

header {
	font-family: 'Alegreya+Sans', Helvetica;
	font-weight: normal; 
	font-size: 60px;
	text-align: center;
	color:#FFEBCD;
	margin: 80px 0 0;
	padding: 0 200px;
}

nav{
	margin: auto;
}

h2 {
	font-family: 'comfortaa', Serif; 
	font-size: 34px;
	padding: 60px 0;
}

hr {
	width: 100%;
}

section {
	font-size: 18px; 
	font-style: italic;
	text-align: center;
}

footer{
	color:#FFEBCD;
	padding: 50px 0;
}

.navlinks{
	text-transform: smallcaps;
	letter-spacing:2px;
	padding: 20px;
	margin:0 20px;
	border:none;
}
