@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700);

*{
	margin: 0:
	padding:0;
}

body {
	background-color: #FFB3C3;
	padding: 20px;
	text-align: center;
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	color: #FFEBCD;
	font-size: 20px;
	line-height: 1.3;
}

header {
	background-color: #FFB3C3;
	padding: 0 200px;
	margin: 80px 0 0;
	font-family: 'Alegreya+Sans', Helvetica;
	font-weight: normal; 
	font-size: 60px;
	text-align: center;
	color:#FFEBCD;	
}

h2 {
	background-color: #FFB3C3;
	padding: 60px 0;
	margin: 80px 0 0;
	font-family: 'comfortaa', Helvetica;
	font-weight: normal; 
	font-size: 36px;
	text-align: center;
	color:#FFEBCD;	
}

a{
	color: ##FFEBCD;
	text-decoration: none;
}

nav a{
	margin: auto;
	text-transform: smallcaps;
	letter-spacing:2px;
	padding: 20px;
	margin:0 20px;
	border:none;
}

img{
	width: 100%;
}

ul{
	padding-left: 20px;
}

footer{
	color:#FFEBCD;
	padding: 50px 0;
	text-align: center;
}


